:root {
  --color1--: #e2faff;
  --color2--: #0b9cbd;
  --color3--: #000000cf;
  --color4--: #fefefe;
  --poppins--: Poppins, Arial, sans-serif;
  --konkhmer-sleokchher--: "Konkhmer Sleokchher", sans-serif;
}
div {
  font: 400 normal 16px/1.5 var(--poppins--);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1.5vh 2.5vw;
}

.logo {
  font: 700 normal 2rem/1.5 var(--konkhmer-sleokchher--), sans-serif;
}
.btn {
  background-color: var(--color2--);
  color: var(--color1--);
  font: 500 normal 1rem/1.5 var(--poppins--),Arial,sans-serif;
  padding: 0.5vh 1.5vh;
  border-radius: 5px;
  margin: 1vh 2vw;
  cursor: pointer;
  text-align: center;
}
.btn.primary {
  background-color: var(--color2--);
  color: var(--color1--);
  padding: 0.5vw 5vw;
  margin-left: 0;
}
.btn.secondary {
  color: var(--color2--);
  background-color: var(--color4--);
  border: #a0a0a0da solid 1px;
  padding: 0.5vw 5vw;
  margin-left: 0;
}
.btn:hover{
  box-shadow: 7px 7px 7px #7f8e919e;
}
.ellipse {
  width: max(35vw, 35vh);
  height: max(40vw, 40vh);
  border-radius: 50%;
  background-color: var(--color1--);
  z-index: -1;
  position: absolute;
  display: inline-block;
}
.ellipse.one {
  right: min(calc(-0.2 * 35vw), calc(-0.2 * 35vh));
  top: min(calc(-0.2 * 40vw), calc(-0.2 * 40vh));
}
.ellipse.two {
  left: min(calc(-0.5 * 35vw), calc(-0.5 * 35vh));
  top: max(calc(0.25 * 40vw), calc(0.25 * 40vh));
}
.hero-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 5vh 15vw;
}
.hero-texts {
  justify-content: center;
}
.hero-title {
  text-align: center;
  font: 600 normal 2rem/1.5 var(--konkhmer-sleokchher--), sans-serif;
  margin: 5vw auto;
}
.hero-paragraph.bold {
  font: 600 normal 1.5rem/1.5 var(--poppins--), Arial, sans-serif;
  color: var(--color3--);
  text-transform: capitalize;
}
.hero-paragraph.small {
  font: 500 normal 0.9rem/1.5 var(--poppins--), Arial, sanserif;
  width: 50%;
  padding-left: 0.5%;
  margin: 5vh 1vh;
  margin-top: 1vh;
}
.doctor {
  width: 100%;
}
.services-list {
  display: grid;
  width: 60vw;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  background-color: #fff;
  position: absolute;
  right: 5vw;
  box-shadow: 5pt 10pt 5pt var(--color1--);
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw 0.5vw;
}
.card-title {
  color: var(--color2--);
  margin-bottom: 5%;
  font-weight: 700;
}
.card-text {
  border-right: 2px solid var(--color1--);
}
